@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Chakra+Petch:wght@300&family=Open+Sans:wght@300&display=swap');


.dark {
    color: rgb(255, 206, 71);
    background-color:  #0A1929 ;
    font-family: 'Rowdies';
    }

.light {
    color: #0A1929;
    background-color:  #c6c9d6 ;
    font-family: 'Rowdies';
}

.light hr {
    margin: 30px 0;
    
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #0A1929));
}

.dark hr {
    margin: 30px 0;
    
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #d29435));
}




