@media screen and (max-width: 600px) {
    .show-div{
        display:none;
    }
}

.bg-color{
    background-color: rgb(10, 25, 41);
    color: rgb(210, 148, 53);
}

.title {
    margin-bottom: 2rem;
    margin-top: 2rem;
}


@media(min-width:510px){
    .format{
    width: 500px;
    text-align: end;
    }
}
@media(max-width:510px){
    .format{
    text-align: center;
    }
}

@media (min-width: 500px){
.input {
    background:none;
    border:none;
    border-bottom: 2px solid #1c9eb8;
    width: 500px; 
    margin-bottom: 3rem;
    color:cornsilk
  }
}

@media (max-width: 500px){
    .input {
        background:none;
        border:none;
        border-bottom: 2px solid #1c9eb8;
        width: auto; 
        margin-bottom: 3rem;
        color: cornsilk
      }
    }

@media (max-width: 600px){
.btnlogin {
    background: linear-gradient(to top, rgb(210, 148, 53), rgb(255, 206, 71));
    color: black;
    border-radius: 20px;
    padding: 2px;
    width: 8rem;
    font-weight: bold;
    text-align: center;
    margin-left:10px;
    
    
}
}
@media (max-width: 2000px){
.btnlogin {
    background: linear-gradient(to top, rgb(210, 148, 53), rgb(255, 206, 71));
    color: black;
    border-radius: 20px;
    padding: 2px;
    width: 8rem;
    font-weight: bold;
    text-align: center;
    margin-left:10px;
    
    }
    }

/* p {
    color:white
} */

.register {
    color: #1c9eb8;
    cursor: pointer;
}

.color {
    background-color:#0A1929 ;
}

