.line {
  background:none;
  border:none;
  border-bottom: 2px solid #95D3F5;
  width: 60%; 
  margin-bottom: 2rem;
  color:rgb(255, 206, 71);
  text-align: center;
}

.circular--square {
  border-radius: 50%;
}

.avatars img {
width:180px;
height: 180px;
border-radius: 100%;
border: 4px solid rgb(38, 38, 38);
}

.reduced-line-height-left{
line-height: 1;
border-radius: 10px;
color: white;
border: solid 2px white;
box-shadow: 2px 2px 10px white;    
}

.reduced-line-height-right{
line-height: 1;
border-radius: 10px;
color: #95D3F5;
border: solid 2px #95D3F5;
box-shadow: 2px 2px 10px #95D3F5;    
}

.light .text-profile  {

color:#0A1929 

}

.dark .text-profile {

color:rgb(255, 206, 71)

}


.light .text-user-data {
color:grey

}

.dark .text-user-data{
color:white

}


.text-pie {
color:rgb(255, 206, 71)
}

.change-info {
background:none;
      border:none;
      border-bottom: 2px solid #1c9eb8;
      width: auto; 
      margin-bottom: 2rem;
      color: cornsilk
}


.h3categorias{
color:#d29435;
font-weight: bold;
}
.postercarrusel{
min-height: 18rem;
border-radius: 10px ;
}

.postercarrusel-profile{
min-height: 10rem;
border-radius: 5px ;
}