.viewtrailer{
  min-height: 700px;
  background-size: cover;
  background-position:center;
  position: relative;

}
.player{
  width: 100%;
  height: 600px;
  position: absolute;
}

.overview {
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}



.info {
  color: rgb(247, 247, 247);
  position: absolute;
  bottom: 0;
  right: 0;
  
}

.close {
  position: absolute;
  padding: 5px;
  margin: 10px;
  background-color: #d29435;
  color: black;
  border-radius: 20px;
  width: 75px;
  border: none;
  
}

.close_one {
  padding: 5px;
  margin: 10px;
  background-color: #d29435;
  color: black;
  border-radius: 20px;
  width: 100px;
  border: none;
}

.close:hover {
background-color: orange;
}

.close_one:hover{
background-color: orange;
}


.movie {
  display: block;
}

