
 @media only screen and (min-width: 600px) {
  .result-card {
    /* width: 300px; */
    background-color:  rgb(19, 47, 76);
    border-radius: 10px;
    border: 2px solid white;
  }

}   
.rounded-input {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transition: none;
  box-shadow: none;
} 

.btn-rounded{
  border-radius: 50px;
}
.btn-orange-gradient{
  background: linear-gradient(to right, #ffa600, #ff5722);
}
.card-body{
  background-color: #132f4c;
  font-size: 10px;
  border-radius: 5px; 
} 
.card-img-left {
  object-fit:cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.card{   
    background-color:  #132f4c;  
    border-radius: 10px;
    
}
.sizetex{
  font-size: 16px;
}
.colortitle{
  color:#d29435;
}
.notfound{
  color: rgb(241, 6, 6);
}
.result-card{
  border: 2px solid white
}