
 @media only screen and (min-width: 600px) {
  .result-card {
    width: 300px;
    background-color: #132f4c;
  }

}   
.rounded-input {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transition: none;
  box-shadow: none;
} 

.btn-rounded{
  border-radius: 50px;
}
.btn-orange-gradient{
  background: linear-gradient(to right, #ffa600, #ff5722);
}
.card-body{
  background-color: #132f4c;
  font-size: 10px;
  border-radius: 5px;
} 
.card-img {
  max-width: 100%;
  object-fit: contain;
}





