.favi {
    background: none;
    border: none;
    color:  rgb(105, 205, 29);
}
.nofavi {
    background: none;
    border: none;
    color:  rgb(255, 206, 71);
}
.see {
    background: none;
    border: none;
    color:  rgb(105, 205, 29);
}
.nosee {
    background: none;
    border: none;
    color:  rgb(248, 184, 7);
}