.yes-favo {
    background: none;
    border: none;
    color:  rgb(11, 150, 74)
}

.yes-seen {
    background: none;
    border: none;
    color:  rgb(72, 179, 232);
}

.yes-pend {
    background: none;
    border: none;
    color:  rgb(231, 40, 40);
}
.no {
    background: none;
    border: none;
    color:  grey;
}


